.search-ctr {
  display: flex;
  flex-direction: row;
}

.search-input {
  display: flex;
  height: 7vh;
  width: 80rem;
  border-top: .10rem solid #0a4abf;
  border-bottom: .10rem solid #0a4abf;
  border-left: .10rem solid #0a4abf;
  border-right: .10rem solid #0a4abf;
  font-size: 18px;
}

.search-btn {
  display: flex;
  height: 7.55vh;
  width: 5rem;
  background-color: white;
  border-top: .10rem solid #0a4abf;
  border-bottom: .10rem solid #0a4abf;
  border-left: .10rem solid #0a4abf;
  border-right: .10rem solid #0a4abf;
  display: flex;
  margin-left: 0.25rem;
  justify-content: center;
  font-size: 18px;
  line-height: 60px;
  padding: 0px;
  padding-top: 10px
}

.btn-ctr {
  display: flex;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  box-shadow: 7px 6px 28px rgba(0, 0, 0, 0.24);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  background-color: transparent
}

.maq-btn {
  padding: .5rem;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .0156rem;
  font-weight: lighter;
  color: #f6eb16;
  background-color: #0a4abf;
  border: none;
  margin: .25rem;
  box-shadow: 7px 6px 28px rgba(0, 0, 0, 0.24);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  width: 15rem;
}

.aaq-btn {
  padding: .5rem;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .0156rem;
  font-weight: lighter;
  color: #f6eb16;
  background-color: #0a4abf;
  border: none;
  margin: .25rem;
  box-shadow: 7px 6px 28px rgba(0, 0, 0, 0.24);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  width: 15rem;
}

.maq-btn:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.aaq-btn:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.search-btn:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.mag-glass {
  height: 35px;
  width: 35px;
  line-height: 100px;
  justify-content: center
}

// .more-answers-btn {
//   background-color: #0a4abf;
//   color: white
// }

.more-answers-btn {
  background: none !important;
  border: none;
  padding: 0 !important;
  //text-decoration: underline;
  cursor: pointer;
  color: #0a4abf;
}