.modal {
    height: 350px;
    max-height: 100%;
    width: 500px;
    max-width: 100%;
    background-color: #fff;
    z-index: 20;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}
.closed {
    display: none;
}

.modal-overlay {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
