
.reviews-List {
  display: flex;
  flex-direction: column;
  border-width: .5px;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 10px 25px;
}

.review-Tile {
  border-width: .5px;
  border-style: solid;
  width: 75%;
  border-color: black;
  margin: 10px 25px;
  padding: 10px 10px;

}

.reviewer {
  display: flex;
  justify-content: right;
}

.more-reviews-button {
  display: flex;
  max-width: fit-content;
}

.review-Image {
  display: flex;
  flex-direction: row;
  width: 20%;
  padding: 10px;
}

.review-image-container {
  display: flex;
  width: fit-content;
}

.review-Tile-Images {
  display: flex;
  flex-direction: row;
}

.review-image-full {
  display: flex;
  position: absolute;
  align-content: center;
}

.bar-5 {width: 60%; height: 18px; background-color: #04AA6D;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

.Rating-Summary-Stats {
  display: flex;
  flex-direction: row;
  align-items: center;
}