.add-to-cart-button {
  padding: .5rem;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .0156rem;
  font-weight: lighter;
  color: white;
  background-color: #0a4abf;
  justify-content: center;
  width: 12rem;
  border-radius: 8px;
}