.search-ctr {
  display: flex;
  flex-direction: row;
}

.search-input {
  display: flex;
  height: 7vh;
  width: 80rem;
  border-top: .10rem solid #0a4abf;
  border-bottom: .10rem solid #0a4abf;
  border-left: .10rem solid #0a4abf;
  border-right: .10rem solid #0a4abf;
  font-size: 18px;
}

.search-btn {
  display: flex;
  height: 7.65vh;
  width: 5rem;
  background-color: white;
  border-top: .10rem solid #0a4abf;
  border-bottom: .10rem solid #0a4abf;
  border-left: .10rem solid #0a4abf;
  border-right: .10rem solid #0a4abf;
  display: flex;
  margin-left: 0.25rem;
  justify-content: center;
  font-size: 18px;
  line-height: 60px;
  padding: 0px;
  padding-top: 10px
}

.btn-ctr {
  display: flex;
  margin-left: 8rem;
  margin-right: 12rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  box-shadow: 7px 6px 28px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  justify-content: center;
}

.maq-btn {
  padding: .5rem;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .0156rem;
  font-weight: lighter;
  color: #f6eb16;
  background-color: #0a4abf;
  border: none;
  //margin: .15rem;
  box-shadow: 7px 6px 28px rgba(0, 0, 0, 0.24);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  width: 15rem;
  margin-right: .25rem;
  margin-left: .25rem;
  margin-top: .25rem;
  margin-bottom: .25rem;
}

.aaq-btn {
  padding: .5rem;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .0156rem;
  font-weight: lighter;
  color: #f6eb16;
  background-color: #0a4abf;
  border: none;
  //margin: .15rem;
  box-shadow: 7px 6px 28px rgba(0, 0, 0, 0.24);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  width: 15rem;
  margin-right: .25rem;
  margin-left: .25rem;
  margin-top: .25rem;
  margin-bottom: .25rem;
}

.maq-btn:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.aaq-btn:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.search-btn:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.mag-glass {
  height: 35px;
  width: 35px;
  line-height: 100px;
  justify-content: center
}

// .more-answers-btn {
//   background-color: #0a4abf;
//   color: white
// }

.more-answers-btn {
  background: none !important;
  border: none;
  padding: 0 !important;
  //text-decoration: underline;
  cursor: pointer;
  color: #0a4abf;
}


.helpful-addAnswer-ctr {
  display: flex;
  //margin-left: auto;
  float: right;
  background: none !important;
  border: none;
  font-size: 13px;
  line-Height: 10;
  //justify-content:
}

.helpful-btn {
  background: none !important;
  border: none;
  padding: 0 !important;
  margin-left: 0rem;
  margin-right: 0rem;
  text-decoration: underline;
  cursor: pointer;
  color: #0a4abf;
  line-height: 0px
}

.addAnswer-btn {
  background: none !important;
  border: none;
  padding: 0 !important;
  margin-left: .5rem;
  margin-right: .5rem;
  //text-decoration: underline;
  cursor: pointer;
  color: #0a4abf;
  line-height: 1px
}

.report-btn {
  background: none !important;
  border: none;
  padding: 0 !important;
  margin-left: .1rem;
  margin-right: -5rem;
  text-decoration: underline;
  cursor: pointer;
  color: #0a4abf;
  line-height: 1px
}

.counter {
  line-height: 9.95;
}

.answer-details {
  font-size: 14;
}