@import '../../variables.scss';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $blue;
    height: 9vh;
    padding: 0 13vw;
    h1 {
        line-height: 0;
        color: $yellow;
        text-decoration: underline;
        font-family: sans-serif;
        font-size: 20px;
        font-style: italic;
        margin: 0 1.5em;
    }
}
.header-search {
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 0 1.5em;
    input {
        background-color: rgba(0,0,0,0);
        width: 80%;
        margin: 0 2em;
        border: none;
        border-bottom: 1.5px solid white;
    }
    input:focus-visible {
        outline: 0;
    }
    .search-icon {
        border: 1px solid white;
        width: 20px;
        height: 20px;
    }
}
.announcement {
    display: flex;
    justify-content: center;
    font-size: 12px;
    line-height: 36px;
    background-color: white;
    margin: 0 15vw;
    .message {
        font-style: italic;
    }
    .highlight {
        text-decoration: underline;
    }
}