.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    height: 200px;
    width: 135px;
    margin: 0 10px;
    .btn-wrapper {
        position: relative;
        left: calc(100% - 35px);
        z-index: 2;
        .btn {
            color: yellow;
            margin: 5px;
        }
    }   
    .card-detail-wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        top: -35px;
        margin: 10px;
        .card-image {
            border-radius: 5px;
            object-fit: cover;
            height: 100px;
            width: 100%;
        }
        .card-category {
            font-weight: 300;
            text-transform: uppercase;
            font-size: 10px;
            letter-spacing: 0;
        }
        .card-name {
            display: flex;
            align-items: center;
            font-size: 13px;
            list-style: 15px;
            height: 30px;
        }
        .card-price {
            font-weight: bold;
            font-size: 13px;
        }
        .not-yet-reviewed {
            line-height: 15px;
            font-size: 11px;
        }
    }
    .add-to-outfit-container {
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        letter-spacing: 0px;
        .add-to-outfit-icon {
            font-size: 40px;
            line-height: 0px;
        }

        &:hover {
            background-color: rgb(234, 234, 234);
            border-radius: 5px;
        }
    }
}
