.card {
    background-color: rgb(190, 190, 190);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 10px;
    height: 200px;
    width: 135px;
    
}
.star {
    background-color: yellow;
}
