.right-arrow {
  color: #0a4abf;
  font-size: 25px;
  border-radius: 50%;
  background-color: white;
  padding-left: 8px;
  padding-right: 8px;
}
.left-arrow {
  color: #0a4abf;
  font-size: 25px;
  border-radius: 50%;
  background-color: white;
  padding-left: 8px;
  padding-right: 8px;
}
.gallery-thumbnail {
  width:  50px;
  height: 50px;
  object-fit: cover;
  padding: 3px;
}
.normal-view-button {
  color: white;
  font-size: 30px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 6px;
  position:absolute;
  left:17%;
  top:15%;
  border-radius: 6px;
  background-color: black;
}
.main-image {
  width:  600px;
  height: 600px;
  object-fit: cover;
  position:relative;
  display:block;
  border:5px solid #112028;
  padding:3px;
  margin:5px 150px 5px 0px;
}