.add_to_cart_button {
  padding: .5rem;
  font-size: 18px;
  // text-transform: uppercase;
  // letter-spacing: .0156rem;
  // font-weight: lighter;
  color: #f6eb16;
  background-color: #0a4abf;
  // border: none;
  // margin: .25rem;
  // box-shadow: 7px 6px 28px rgba(0, 0, 0, 0.24);
  // transition: all 0.3s ease 0s;
  // cursor: pointer;
  // outline: none;
  // display: flex;
  justify-content: center;
  width: 12rem;
  border-radius: 15%;
}
// .add_to_cart_button {
//   transform: scale(0.98);
//   box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
// }