.product_overview_block {
  display: grid;
  grid-template-columns: auto auto;
	grid-template-rows: auto auto auto auto auto;
  margin-bottom: 100px;
}

// style selector
.styles {
  grid-column: 2;
  grid-row: 3;
}
.style-thumbnail-block {
  display: block;
  width: 80px;
  height: 90px;
}
.style-selector {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
}
.style-title {
  margin: 0px 0px 20px 0px;
  font-size: 20px;
}

// product information
.product_information_block {
  grid-column: 2;
  grid-row: 2;
}
.product-detail {
  grid-column: 1 / -1;
  grid-row: 5;
}
.shopping-cart {
  position: absolute;
  left: 83%;
  color: #112028;
  font-size: 25px;
}
.shopping-cart :hover {
  position: absolute;
  left: 83%;
  color: #0a4abf;
  font-size: 25px;
}
.share {
  grid-column: 2;
  grid-row: 4;
  margin-left: 110px;
  margin-top: 19px;
}

//image gallery
.image-block {
  display: block;
  width: 650px;
  grid-column: 1;
  grid-row: 1/5;
}
.all-image-block {
  display: grid;
  width: 650px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, auto);
}
.image {
  grid-column: 1/5;
  grid-row: 1/3;
}
.image-thumbnails {
  margin-top: 50px;
  margin-left: 50px;
  height: 390px;
  overflow: scroll;
  grid-column: 1;
  grid-row: 1/3;
  z-index: 1;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.right-arrow-button {
  grid-column: 5;
  grid-row: 1;
  z-index: 1;
  margin-top: 270px;
  margin-left: 45px;
}
.left-arrow-button {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  margin-top: 270px;
  margin-left: 15px;
}

// add-to-cart
.add-to-cart {
  grid-column: 2;
  grid-row: 4;
}