#original-price {
  text-decoration: line-through;
}
#sale-price {
  color: red
}
.share {
  display: grid;
  grid-template-columns: 50px 50px 50px
}
.product-detail {
  display: grid;
  grid-template-columns: 800px 300px;
  column-gap: 50px;
}
#slogan {
  grid-column: 1;
  grid-row: 1/4;
}
#description {
  grid-column: 1;
  grid-row: 2/4;
}
.features {
  grid-column: 2;
  color: grey;
}
.category {
  margin-top: 60px;
}
.checkout-button {
  padding: .5rem;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .0156rem;
  font-weight: lighter;
  color: white;
  background-color: #0a4abf;
  justify-content: center;
  width: 12rem;
  border-radius: 8px;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 250px;
}
.cart-content {
  margin-left: 30px;
}
