@import '../../variables.scss';

.related-products {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 95%;
    margin: auto;
    background-color: $blue;
    
    .list-title {
        line-height: 1;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 12px;
        color: white;
    }

    .products-list {
        display: flex;
        width: 90%;
        padding: 0 5%;
        overflow: hidden;
        position: relative;
        margin: 10px 0;
        .scroll-left {
            position: absolute;
            top: calc(50% - 25px);
            right: calc(100% - 25px);
            color: $yellow;
            background-color: $blue;
        }
        .scroll-right {
            position: absolute;
            top: calc(50% - 25px);
            left: calc(100% - 25px);
            color: $yellow;
            background-color: $blue;
        }
    }
}