@use '../../variables' as *;

.related-products {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 95%;
    margin: auto;
    background: linear-gradient(342deg, rgba(0,30,115,1) 0%, rgba(10,74,191,1) 29%, rgba(10,74,191,1) 72%, rgba(0,30,115,1) 100%);
    border-radius: 3px;
    color: white;
    font-weight: 600;
    .outfit-list {
        margin-bottom: 20px;
    }
    .list-title {
        line-height: 1;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 12px;
        color: white;
    }
    .products-list {
        display: flex;
        width: 90%;
        padding: 0 5%;
        overflow: hidden;
        position: relative;
        margin: 10px 0;
        .scroll-left {
            position: absolute;
            top: calc(50% - 25px);
            right: calc(100% - 25px);
            z-index: 2;
            color: $secondary;
            background-color: rgba(0,0,0,0);
        }
        .scroll-right {
            position: absolute;
            top: calc(50% - 25px);
            left: calc(100% - 25px);
            z-index: 2;
            color: $secondary;
            background-color: rgba(0,0,0,0);
        }
    }
}
.related-products-loading {
    padding: 0 2rem;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0;
    font-weight: 600;
    color: white;
    background-color: $primary;
    border: none;
    border-radius: 3px;
    margin: auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    transition: all .3s ease-out 0s;
    width: 20%;
}